#gantt {
  overflow-x: scroll;
  overflow-y: hidden;
}
.ganttbg {
    z-index: 0;
    background: white;
    position: relative;
}
.ganttbg table {
    border-spacing: 0px;
    border-collapse: collapse; 
}
.ganttperiod {
    height: 100%;
    margin-top: -15px;
    float: left;
}
.ganttnewperiod {
    border-left: solid 1px;
}
.ganttbg0 {
    width: 100%;
    background: #E8E8E8;
    z-index: -1;
}
.ganttanchor {
    position: relative;
    top: -5px;
    height: 20px;
    width: 2px;
    background: green;
    float: left;
}
.ganttbar1 {
    float: left;
    height: 10px;
    background: #0094B5;
}
.ganttbar2 {
    float: left;
    height: 10px;
    background: #D0574C;
}
.ganttbar3 {
    float: left;
    height: 10px;
    background: #68274E;
}
.gantthighlight {
    border: solid 5px red;
    margin: -5px;
}
.gantttoday {
    height: 100%;
    border: 1px red solid;
    position: absolute;
    top: 0;
    z-index: 1;
}
#ganttspace {
    position: absolute;
    width: 800px;
    z-index: 0;
    background: #6C6D6E;
    color: white;
}
.ganttdate {
    font-weight: bold;
}

