#gantt {
  overflow-x: scroll;
  overflow-y: hidden;
}
.ganttbg {
    z-index: 0;
    position: relative;
}
.ganttbg0 {
    width: 100%;
    background: #CCCCCC;
    opacity: .3;
    z-index: -1;
}
.ganttanchor {
    position: relative;
    top: -5px;
    height: 20px;
    width: 2px;
    background: green;
    float: left;
}
.ganttbar1 {
    float: left;
    height: 10px;
    background: #0094B5;
}
.ganttbar2 {
    float: left;
    height: 10px;
    background: #D0574C;
}
.ganttbar3 {
    float: left;
    height: 10px;
    background: #68274E;
}
.gantthighlight {
    border: solid 5px red;
    margin: -5px;
}
#ganttspace {
    position: absolute;
    width: 800px;
    z-index: 0;
    background: #6C6D6E;
    color: white;
}
